:root {
	/* Colors */
	--color-primary: #007bff; /* Primary color */
	--color-primary-light: #5bc0de; /* Light primary color */
	--color-primary-dark: #0056b3; /* Dark primary color */
	--color-secondary: #6c757d; /* Secondary color */
	--color-success: #28a745; /* Success color */
	--color-danger: #dc3545; /* Danger color */
	--color-warning: #ffc107; /* Warning color */
	--color-info: #17a2b8; /* Info color */
	--color-light: #f8f9fa; /* Light color */
	--color-dark: #343a40; /* Dark color */
	--color-white: #ffffff; /* White color */
	--color-black: #000000; /* Black color */

	/* Typography */
	--font-family-sans: "Lexend Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Sans-serif font */
	--font-family-mono: "Victor Mono Variable", "Courier New", Courier, monospace; /* Monospace font */
	--font-size-base: 16px; /* Base font size */
	--font-size-xs: 0.563rem; /* Extra small font size */
	--font-size-sm: 0.75rem; /* Small font size */
	--font-size-md: 1.333rem; /* Medium font size */
	--font-size-lg: 1.777rem; /* Large font size */
	--font-size-xl: 2.369rem; /* Extra large font size */
	--font-size-2xl: 3.157rem; /* 2x extra large font size */
	--font-size-3xl: 4.209rem; /* 3x extra large font size */
	--font-size-4xl: 5.61rem; /* 4x extra large font size */
	--line-height: 1.6; /* Line height */

	/* Spacing */
	--spacing-base: 1rem; /* Base spacing */
	--spacing-xs: 0.5rem; /* Extra small spacing */
	--spacing-sm: 0.707rem; /* Small spacing */
	--spacing-md: 1.414rem; /* Medium spacing */
	--spacing-lg: 1.999rem; /* Large spacing */
	--spacing-xl: 2.827rem; /* Extra large spacing */
	--spacing-2xl: 3.998rem; /* 2x extra large spacing */
	--spacing-3xl: 5.653rem; /* 3x extra large spacing */
	--spacing-4xl: 7.993rem; /* 4x extra large spacing */

	/* Border Radius */
	--border-radius: 4px; /* Default border radius */

	/* Shadows */
	--box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Default box shadow */
	--box-shadow-lg: 0 4px 10px rgba(0, 0, 0, 0.15); /* Large box shadow */

	/* Breakpoints */
	--breakpoint-sm: 576px; /* Small screens */
	--breakpoint-md: 768px; /* Medium screens */
	--breakpoint-lg: 992px; /* Large screens */
	--breakpoint-xl: 1200px; /* Extra large screens */
}
